@{
    ViewData["Title"] = "MarketForPilots";
}
<a class=" background">
    <table class="table table-hover">
        <thead>
            <tr class="table">
                <th scope="col">Име</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Години</th>
                <th scope="col">Концентрация</th>
                <th scope="col">Опит</th>
                <th scope="col">Физическо състояние</th>
                <th scope="col">Килограми</th>
                <th scope="col">Месечна Заплата</th>
                <th scope="col">Сума за наемане</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var navigator in Model.Navigators)
            {
            <tr>
                <th scope="row">@navigator.FirstName</th>
                <td>@navigator.LastName</td>
                <td>@navigator.Age</td>
                <td>@navigator.Concentration</td>
                <td>@navigator.Experience</td>
                <td>@navigator.PhysicalTraining</td>
                <td>@navigator.Pounds</td>
                <td>@navigator.Salary</td>
                <td>1000</td>
                <td>
                    <a>
                        @Html.ActionLink("Наеми", "RentalsNavigator", "Market", new { id = @navigator.Id })
                    </a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</a>

