@model BgRallyRace.ViewModels.FAQViewModels
@{
    ViewData["Title"] = "FAQ";
}
<div class="form-group row">
    <div class="col-sm-3">
        <div class="tabs">
            @foreach (var item in Model.FAQs)
            {
                <button class="tablinks" onclick="hoverTabs(event, @item.Id)">@item.Question</button>
            }
        </div>
    </div>
        <div class="col-sm-9">
    @foreach (var item in Model.FAQs)
    {
            <div id='@item.Id' class="tabcontent">
                <h3>@item.Question</h3>
                <p>
                    @item.Answer
                </p>
            </div>
    }
        </div>
</div>

@section Scripts{
    <script>
        function hoverTabs(evt, name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(name).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>
}