@model BgRallyRace.ViewModels.OpinionsViewModels;
@{
    ViewData["Title"] = "Opinion";
}

@if (Model.Text != null)
{
    if (@Model.Text.Contains("Успешно"))
    {
        <div class="alert alert-success" role="alert">
            <strong>Чудесно!</strong> @Model.Text
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            <strong>Не възможно действие!</strong> @Model.Text
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<form asp-controller="Home" asp-action="Opinion" method="post" class="form-group">
    <div class="background">
        <label asp-for="Opinion"> Мнение </label>
        <input asp-for="Opinion" class="form-control" placeholder=Мнение />
        <span asp-validation-for="Opinion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-secondary">Сподели</button>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Deleting "ново" apiary?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the following apiary: ново?</p>
                </div>
                <div class="modal-footer">
                    <a asp-controller="Apiaries" asp-action="Delete" asp-route-id="ново">
                        <button class="btn btn-danger">Yes</button>
                    </a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</form>

@foreach (var opinion in Model.Opinions)
{
    <p>
        <div class="background" id="backgroundOthers">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="text-muted">@opinion.User</h5>
                <small class="text-muted">
                    @opinion.DateOfPublication
                    @if (@opinion.User == User.Identity.Name)
                    {
                        <a class="text-dark" asp-controller="Home" asp-action="DeleteOpinion" asp-route-id="@opinion.Id" contextmenu=" ">
                            &times;
                        </a>
                    }
                </small>
            </div>
            <div class="alert alert-dismissible alert-secondary">
                @opinion.Content
            </div>
            <div>
                @if (!Model.PreviousDisabled)
                {
                    <a href="/Home/Opinion?page=@Model.PreviousPage" class="float-left btn btn-info">Назад</a>

                }
                @if (!Model.NextDisabled)
                {
                    <a href="/Home/Opinion?page=@Model.NextPage" class="float-right btn btn-info">Напред</a>

                }
            </div>
        </div>
    </p>
}

<h4>*Всички Мнения, минават през оторизация от администратор, преди да се побликуват!</h4>



