@model BgRallyRace.ViewModels.CompetitionsViewModels
@{
    ViewData["Title"] = "Competitions";
}

@if (Model.Text != null)
{
    <div class="alert alert-success" role="alert">
        <strong>Чудесно!</strong> @Model.Text
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="form-group row">
    <div class="col-sm-2">
        <partial name="_LeftBarPartial" />
    </div>
    <div class="col-sm-8">
        <a class=" background">
            <table class="table table-hover">
                <thead>
                    <tr class="table">
                        <th scope="col">Име</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Награден фонд</th>
                        <th scope="col">Изминала</th>
                        <th scope="col">Активено</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var competitions in Model.Competitions)
                    {
                        <tr>
                            <th scope="row">@competitions.Name</th>
                            <td>@competitions.StartRaceDate.ToString("D")</td>
                            <td>@competitions.PrizeFund</td>
                            <td>@competitions.IsDeleted</td>
                            <td>@competitions.Applicable</td>
                            <td>
                                <a class="btn btn-default btn-sm" asp-controller="Admin" asp-action="EditCompetitions" asp-route-id="@competitions.Id">
                                    <i class="fa fa-pencil">Редактирай</i>
                                </a>
                                <a class="btn" asp-controller="Admin" asp-action="DeleteCompetitions" asp-route-id="@competitions.Id">
                                    <i class="fa fa-trash">Изтрии</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>

                </tfoot>
                <div>
                    @if (!Model.PreviousDisabled)
                    {
                        <a href="/Admin/Competitions?page=@Model.PreviousPage" class="float-left btn btn-info">Назад</a>
                    }
                    .... @Model.CurrentPage ....
                    @if (!Model.NextDisabled)
                    {
                        <a href="/Admin/Competitions?page=@Model.NextPage" class="float-right btn btn-info">Напред</a>
                    }
                </div>
            </table>

        </a>
    </div>
    <div class="col-sm-2">
        <partial name="_RightBarPartial" />
    </div>
</div>
