@model BgRallyRace.ViewModels.PilotViewModels
@{
    ViewData["Title"] = "Pilots";
}

<a class=" background">
    <table class="table table-hover">
        <thead>
            <tr class="table">
                <th scope="col">Име</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Години</th>
                <th scope="col">Концентрация</th>
                <th scope="col">Опит</th>
                <th scope="col">Физическо състояние</th>
                <th scope="col">Килограми</th>
                <th scope="col">Месечна Заплата</th>
                <th scope="col">Отбор</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pilot in Model.Pilots)
            {
            <tr>
                <th scope="row">@pilot.FirstName</th>
                <td>@pilot.LastName</td>
                <td>@pilot.Age</td>
                <td>@pilot.Concentration</td>
                <td>@pilot.Experience</td>
                <td>@pilot.PhysicalTraining</td>
                <td>@pilot.Pounds</td>
                <td>@pilot.Salary</td>
                <td>@pilot.TeamId</td>
                <td>
                    <a class="btn btn-default btn-sm" asp-controller="Admin" asp-action="EditPilot" asp-route-id="@pilot.Id">
                        <i class="fa fa-pencil">Редактирай</i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
        <div>
            @if (!Model.PreviousDisabled)
            {
            <a href="/Market/MarketForPilots?page=@Model.PreviousPage" class="float-left btn btn-info">Назад</a>
            }
            .... @Model.CurrentPage ....
            @if (!Model.NextDisabled)
            {
            <a href="/Market/MarketForPilots?page=@Model.NextPage" class="float-right btn btn-info">Напред</a>
            }
        </div>
    </table>
</a>