@{ if (ViewData["Title"] == "FirstPilot")
    {
        <p>
            <button type="submit" class="btn btn-secondary"> @Html.ActionLink("Увеличи заплата", "IncreaseSalarylPilot", "Teams", new { id = Model.Pilots[0].Id })</button>
        </p>
    }
    else if (ViewData["Title"] == "SecandPilot")
    {
        <p>
            <button type="submit" class="btn btn-secondary"> @Html.ActionLink("Увеличи заплата", "IncreaseSalarylPilot", "Teams", new { id = Model.Pilots[1].Id })</button>
        </p>
    }
    else if (ViewData["Title"] == "FirstNavigator")
    {
        <p>
            <button type="submit" class="btn btn-secondary"> @Html.ActionLink("Увеличи заплата", "IncreaseSalaryNavigator", "Teams", new { id = Model.Navigators[0].Id })</button>
        </p>
    }
    else  if (ViewData["Title"] == "SecandNavigator")
    {
        <p>
            <button type="submit" class="btn btn-secondary"> @Html.ActionLink("Увеличи заплата", "IncreaseSalaryNavigator", "Teams", new { id = Model.Navigators[1].Id })</button>
        </p>
    }

    else if (ViewData["Title"] == "..")//ToDo
    {
        <p>
            <button type="submit" class="btn btn-secondary"> @Html.ActionLink("Увеличи заплата", "IncreaseSalarylNavigator", "Teams", new { id = 0})</button>
        </p>
    }
}





