@{
    ViewData["Title"] = "SecandNavigator";
}

@if (Model.Navigators.Count == 1)
{
    <h3>Все още нямате втори навигатор</h3>
    <h5>Идете на пазара и си наемете</h5>
}
else
{
    <div class="form-group row">
        <div class="col-sm-8">
            <h3>@Model.Navigators[1].FirstName @Model.Navigators[1].LastName</h3>
            <p></p>
            <a>Години</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Age%;">@Model.Navigators[1].Age</div>
            </div>
            <p></p>
            <a>Концентрация</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Concentration%;">@Model.Navigators[1].Concentration</div>
            </div>
            <p></p>
            <a>Комуникация</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Communication%;">@Model.Navigators[1].Communication</div>
            </div>
            <p></p>
            <a>Опит</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Experience%;">@Model.Navigators[1].Experience</div>
            </div>
            <p></p>
            <a>Преданост</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Devotion%;">@Model.Navigators[1].Devotion</div>
            </div>
            <p></p>
            <a>Физическа пдготовка/състояние</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].PhysicalTraining%;">@Model.Navigators[1].PhysicalTraining</div>
            </div>
            <p></p>
            <a>Енергия</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Energy%;">@Model.Navigators[1].Energy</div>
            </div>
            <a>Килограми</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Pounds%;">@Model.Navigators[1].Pounds</div>
            </div>
            <p></p>
            <a>Заплата</a>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Navigators[1].Salary%;">@Model.Navigators[1].Salary лв.</div>
            </div>
        </div>
        <div class="col-sm-4">
            <partial name="_ TrainingPartial" />
            <partial name="_ DismissalPartial" />
            <partial name="_ SalaryPartial" />
        </div>
    </div>
}
